{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <title>Forgot Password</title>
                        
                        <!-- Bootstrap core CSS -->
                        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
                            
                            <!-- Custom CSS for the 'Heroic Features' Template -->
                            <link href="{% static "css/heroic-features.css" %}" rel="stylesheet">
    </head>
    
    <body>
        
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><b>COURSE MANAGEMENT SYSTEM</b></h1>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
            </nav>
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <small></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="/loginpage/">Login</a>
                            </li>
                            <li class="active">Forgot Password</li>
                        </ol>
                    </div>
                    
                </div>
                
                <!--CODE HERE-->
                <!--Enter the code here in order to take the input of the username and then process it accordingly-->
                
                <div class="well">
                    <center><h4>Email Id </h4>
                    <form role="form" action="/sendmail/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <!--<textarea class="form-control" column="20" rows="1"></email>-->
							<input type="email" name="email_id" column="30">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
						<!-- <button type="submit" class="btn btn-primary">Submit and Open WebMail</button> -->
                    </form></center>
                </div>


            <hr>
            
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p></p>
                    </div>
                </div>
            </footer>
            
        </div>
        <!-- /.container -->
        
        <!-- JavaScript -->
        <script src="{% static "js/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        
    </body>
    
</html>
