{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <title>ABOUT US</title>
                        
                        <!-- Core CSS -->
                        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
                            
                            <!-- Add custom CSS here -->
                            <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
                                <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    </head>
    
    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                    <h1><strong>About Us</strong></h1>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/loginpage/"><h2>Login</h2></a>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/loginpage/">Login</a>
                        </li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <img class="img-responsive" src="http://www.lfsus.landfood.ubc.ca/hpslide/FroshLogoDesignerCallout.jpg">
                        </div>
                <div class="col-md-6">
                    <h2>Welcome to <b>'About Us'</b></h2>
                    <p>Feel Free to contact Us!</p>
                </div>
                
            </div>
            
            <!-- Team Member Profiles -->
            
            <div class="row">
                
                <div class="col-lg-12">
                    <h2 class="page-header">Our Team</h2>
                </div>
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                        <h3>Ojas Mangalvedhekar
                            <small>2nd Year CSE</small>
                        </h3>
                        <p><li>DATABASE</li>
                        <li>CODING</li></p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/ojas.mangalvedhekar" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                        <h3>Deepak Yadav
                            <small>2nd Year CSE</small>
                        </h3>
                        <p><li>DESIGN</li><li>CODING</li></p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                        <h3>Manish Kumar
                            <small>2nd Year CSE</small>
                        </h3>
                        <p><li>DATABASE</li><li>CODING</li></p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                        <h3>Rohan Gupta
                            <small>2nd Year CSE</small>
                        </h3>
                        <p><li>DATABASE</li><li>CODING</li></p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
                
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://placehold.it/750x450">
                        <h3>Divyansh Singh
                            <small>2nd Year CSE</small>
                        </h3>
                        <p><li>DATABASE</li><li>DESIGN</li></p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                        </div>
            </div>
            
            
        </div>
        
        </div>
        <!-- /.container -->
        
        <div class="container">
            
            <hr>
            
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p></p>
                    </div>
                </div>
            </footer>
            
        </div>
        <!-- /.container -->
        
        <!-- JavaScript -->
        <script src="{% static "js/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/modern-business.js" %}"></script>
        
    </body>
    
</html>
