{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/home/#myCarousel"><strong>COURSE MANAGEMENT SYSTEM</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/courses/">Courses</a><!--Done-->
                    </li>
                    <li><a href="/attendance/">Attendance</a><!--Doing-->
                    </li>
                    <li><a href="/polls/">Polls</a><!--Done-->
                    </li>
                    <li><a href="/discussion/">Discussion</a>
                    </li>
                    <li><a href="/calendar/">Calendar</a>
                    </li>
                    <li><a href="/help/">Help</a>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-tasks">
                                <li class="active"><a href=""></a>
                                </li>
                                <li><a href="/changepassword/">Change Password</a>
                                </li>
                                <li><a href="/accounts/logout/">Logout</a>
                                </li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	{% if courses_added %}
		<div class="alert alert-info alert-dismissable">
<!--                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true" &times;</button>
 -->                The <a class="alert-link" target="_blank" href="/help/"></a>selected courses were successfully added.
                <p></p>
            </div>
		{% endif %}

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/static/img/elearning.jpg');"></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/car1.jpg');"></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            
</div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>


	
	
	
	
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		
		<meta name="description" content="Hover Effects with animated SVG Shapes using Snap.svg" />
		<meta name="keywords" content="animated svg, hover effect, grid, svg shape html, " />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
		<script src="{% static "js/snap.svg-min.js" %}"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>




		<div class="container">
			<!-- Top Navigation -->
			<section id="grid" class="grid clearfix">
				<a href="/courses/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/2.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>COURSES</b></h2>
							<p>Click here to see your Courses !!</p>
							
						</figcaption>
					</figure>
				</a>
				<a href="/attendance/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/attendance.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>ATTENDANCE</b></h2>
							<p>Click here to see your Attendance !!</p>
							
						</figcaption>
					</figure>
				</a>
				<a href="/polls/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/poll.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>POLLS</b></h2>
							<p>Click here to see Polls !!</p>
							
						</figcaption>
					</figure>
				</a>
				<a href="/discussion/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/discussion.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>DISCUSSION</b></h2>
							<p>Click here to view DISCUSSION !!</p>
						</figcaption>
					</figure>
				</a>
				<a href="/calendar/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/calendar.png" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>CALENDAR</b></h2>
							<p>Click here to view Calendar !!</p>
						</figcaption>
					</figure>
				</a>
				<a href="{% static "assets/uploaded_files/Documentation.docx" %}" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/documentation.png" %}"/>
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>DOCUMENTATION</b></h2>
							<p>Click here to see Documentation of this page !!</p>
							
						</figcaption>
					</figure>
				</a>
				<a href="/onlinemanual/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						<img src="{% static "img/onlinemanual.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>ONLINE MANUAL</b></h2>
							<p>Click here to see the Online Manual of this Website !!</p>
							
						</figcaption>
						
					</figure>
				</a>
				
				<a href="/help/" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
					<figure>
						
						<img src="{% static "img/HELP.jpg" %}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2><b>HELP</b></h2>
							<p>Click here to get Help !!</p>
						
						</figcaption>
					</figure>
				</a>
			</section>
			
		
			
			
		</div><!-- /container -->
		<script>
			(function() {
	
				function init() {
					var speed = 330,
						easing = mina.backout;

					[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
							pathConfig = {
								from : path.attr( 'd' ),
								to : el.getAttribute( 'data-path-hover' )
							};

						el.addEventListener( 'mouseenter', function() {
							path.animate( { 'path' : pathConfig.to }, speed, easing );
						} );

						el.addEventListener( 'mouseleave', function() {
							path.animate( { 'path' : pathConfig.from }, speed, easing );
						} );
					} );
				}

				init();

			})();
		</script>
<script src="http://tympanus.net/codrops/adpacks/demoad.js"></script>
		


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <center>
                        <li><a href="/home/#myCarousel">Go To Top<a class="footer-menu-divider">&sdot; </a>
                            </li>
                    </center>
                </ul>
                
            </div>
        </div>
    </div>
</footer>
  
	<script src="{% static "js/jquery-1.10.2.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/modern-business.js" %}"></script>

</body>

</html>
